
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */
html, body{
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.font{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em;
}

/*-----------------------navigation----------------------*/
#nav-ul-items {
    width: 100%;
}

.icon-bar{
    background-color: white!important;
}

.nav-li{
    text-align: center;
}

@media (min-width: 768px){
    .top-nav-divider{
        border-right: 2px solid white;
    }
}

.navbar-default {
  background-color: #ff1800;
  border-color: #c0392b;
  background-image: -webkit-linear-gradient(top, #ff1800 0%, #ff412d 100%);
  background-image: -o-linear-gradient(top, #ff1800 0%, #ff412d 100%);
  background-image: linear-gradient(to bottom, #ff1800 0%, #ff412d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1800', endColorstr='#ff412d', GradientType=0);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}
/*-----------------------navigation end--------------------*/

/*-----------------------footer----------------------------*/
#icon-footer{
    background-color: #444;
    bottom: -52px;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 52px;
    text-align: center;
    color: white;
    margin: 0;
}

#icon-footer a:hover{
    color: grey;
    text-decoration: none;
}

#icon-footer a:focus{
    color: white;
    text-decoration: none;
}

#linkedin{
    margin-left: 5%;
}

.icon-link{
    color: white;
    text-decoration: none;
}

/*------------------------content----------------------------*/
#main-div{
    height: 85vh;
}

.top-spacing{
    top: 52px;
}

/*!!!!!!!!!!!!!!!!!!! about !!!!!!!!!!!!!!!!!*/
#self-pic-container{
    text-align: center;
}

#self-pic{
    border-radius: 100%;
}

#self-title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
}

p{
    text-indent: 50px;
}

.about-desc{
    margin-top: 15px;
}

#about-me{
    padding-right: 30px;
    padding-left: 30px;
}

#thanks{
    text-align: center;
    margin-bottom: 15px;
}

#about-me-text{
    background: url(../imgs/id-icon.jpg) no-repeat left top ;
    padding: 3px 0 15px 40px;
    margin: 0;
}

#degree{
    background: url(../imgs/uh-logo.jpg) no-repeat left top;
    padding: 3px 0 15px 40px;
    margin: 0;
}

#current{
    background: url(../imgs/pc-console.jpg) no-repeat left top;
    padding: 3px 0 15px 40px;
    margin: 0;
}

#learn{
    background: url(../imgs/lightbulb.jpg) no-repeat left top;
    padding: 3px 0 15px 40px;
    margin: 0;
}

/*!!!!!!!!!!!!!!!!! skills !!!!!!!!!!!!!!!!!*/
.skill-section{
    text-align: center;
    margin-bottom: 1%;
}

.skill-img{
    margin-bottom: 15px;
}

#skill-two{
    background-color: #f2f2f2;
    /*z-index: -1;*/
}

@media (min-width: 768px){
    .skill-img{
        margin-top: 15%;
        margin-bottom: 20%;
    }

    #skill-two{
        height: 100vh;
        /*padding-bottom: 1%;*/
        margin-bottom: 0;
    }

    .top-spacing{
        padding-top: 28px;
    }
}
@media(max-width: 767px){
    .container{
        padding: 0px;
    }

    .navbar-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .top-spacing{
        margin-top: 15px;
    }

    .skill-section{
        padding-right: 30px;
        padding-left: 30px;
    }

    #skill-one-desc, #skill-three-desc{
        padding-bottom: 25px;
    }

    #skill-two-desc{
        padding-bottom: 30px;
    }
}


/*!!!!!!!!!!!!!!!!!!! works !!!!!!!!!!!!!!!!*/
#works-showcase{
    text-align: center;
}

.work-desc{
    margin-top: 1%;
}

#git-text{
    margin-top: 5%;
    margin-bottom: 1%;
}

#donut-desc{
    margin-top: 10px;
}

#more-donut{
    background-color: #f2f2f2;
}